.container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.imageWrapper {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
}

.imageClass {
  height: 100%;
  width: 100%;
  border-radius: 999px;
  object-fit: cover;
}

.userInfo {
  color: var(--mongree-text);
  font-size: 0.875rem;
  font-weight: 700;
}

.createdAt {
  color: var(--mongree-text-muted);
  font-size: 0.75rem;
}
