.mainContainer {
  min-height: 100%;
}

.contentArea {
  margin-inline: auto;
  display: grid;
  max-width: 58rem;
  gap: 1rem;
  padding: 1.25rem 1rem 6rem;
}

@media (min-width: 768px) {
  .contentArea {
    gap: 1.25rem;
    padding-inline: 2rem;
    padding-bottom: 5rem;
  }
}
